<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center">
                <div>
                    <h1>Tune.name</h1>
                    <p class="text-end">Composer</p>
                </div>
                <div><a class="btn btn-primary btn-sm" role="button" style="margin-right: 3px;margin-left: 59px;">Edit</a></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <p>Notes:</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <p>I can play this on piano:</p>
                    </div>
                    <div class="col"><i class="fas fa-check"></i></div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <p>I can play this on a jam-session:</p>
                    </div>
                    <div class="col"><i class="fas fa-times"></i></div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <p>I can play this on stage:</p>
                    </div>
                    <div class="col"><i class="far fa-star"></i></div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <p>Sheets:</p>
                    </div>
                    <div class="col"><i class="far fa-star"></i></div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>