<!DOCTYPE html>
<html lang="en">
{% extends "main/main.html" %}

{% load static %}

{% block title %}MyRep{% endblock title %}

{% block content %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %} ">
    <link rel="stylesheet" href="{% static 'assets/fonts/material-icons.min.css' %} ">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center">
                <div>
                    <h1>{{usertune.tune.name|title}}</h1>
                    <p class="text-end">{{usertune.tune.key}} - {{usertune.tune.composer}} </p>
                </div>
                {% if request.user == usertune.user %}
                <div><a class="btn btn-primary btn-sm" href={% url 'tunes-update-view' request.user.id usertune.id %} role="button" style="margin-right: 3px;margin-left: 59px;">Edit</a></div>
                <div><a class="btn btn-primary btn-sm" href={% url 'delete-objects-view' 'usertune' usertune.id %} role="button" style="margin-right: 3px;margin-left: 59px;">Delete</a></div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        {% if usertune.notes %}
                        <p>Notes:{{usertune.notes}}</p>
                        {% else %}
                        <p>You can add a note in Edit.</p>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <p>I can play this on piano:</p>
                    </div>
                    <div class="col-1">{% if usertune.playonpiano %}<i class="material-icons">check</i>{% else %}<i class="material-icons">close</i>{% endif %}</div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <p>I can play this on a jam-session:</p>
                    </div>
                    <div class="col">{% if usertune.playonjamsession %}<i class="material-icons">check</i>{% else %}<i class="material-icons">close</i>{% endif %}</div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <p>I can play this on stage:</p>
                    </div>
                    <div class="col">{% if usertune.playonstage %}<i class="material-icons">check</i>{% else %}<i class="material-icons">close</i>{% endif %}</div>
                </div>
                {% if usertune.sheet %}
                <div class="row">
                    <div class="col-8">
                        <p>Sheets: <a href={% url 'usertune-sheet-view' usertune.user.id usertune.id  %} target='blank'>  {{usertune.filename}}</a></p>
                    </div>
                </div>
                {% else %}
                <div class="row">
                    <div class="col-8">
                        <p>Add a sheet in the Edit.</p>
                    </div>
                </div>                
                {% endif %}
                {% if usertune.lyrics %}
                <div class="row">
                    <div class="col-8">
                        <p style='word-wrap: break-word;'>Lyrics: {{usertune.lyrics|linebreaks}}</a></p>
                    </div>
                </div>
                {% endif %}


            </div>
        </div>
    </div>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %} "></script>
</body>

</html>

{% endblock content %}