<!DOCTYPE html>
{% load static %}
<html lang="en">



<body>
    <footer id='footer' class="text-center bg-dark">
        <div class="container text-white py-4 py-lg-5">
            <ul class="list-inline">
                <li class="list-inline-item me-4"><a class="link-light" href="#">Contact</a></li>
                <li class="list-inline-item"><a class="link-light" href="#">K money</a></li>
            </ul>
            <p class="text-muted mb-0">Copyright © 2023 MyRep</p>
        </div>
    </footer>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %} "></script>
</body>

</html>