<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>myrep</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %} ">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta&amp;display=swap">
    <link rel="stylesheet" href="{% static 'assets/css/Login-Form-Basic-icons.css' %} ">
</head>

<body>
    <footer class="text-center bg-dark">
        <div class="container text-white py-4 py-lg-5">
            <ul class="list-inline">
                <li class="list-inline-item me-4"><a class="link-light" href="#">MyRep</a></li>
                <li class="list-inline-item me-4"><a class="link-light" href="#">Contact</a></li>
                <li class="list-inline-item"><a class="link-light" href="#">K money</a></li>
            </ul>
            <p class="text-muted mb-0">Copyright © 2023 Brand</p>
        </div>
    </footer>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %} "></script>
</body>

</html>