<!DOCTYPE html>
{% load static %}
<html lang="en">




<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %} ">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta&amp;display=swap">
    <link rel="stylesheet" href="{% static 'assets/css/Login-Form-Basic-icons.css' %} ">
    <script src="{% static 'htmx.min.js' %}"></script>
</head>

{% include 'main/navbar.html' %}

<body style="font-family: Allerta, sans-serif;">
    <header></header>




    <div id='page-container' style="padding-top: 0px;margin-top: 10px;margin-bottom: 50px;" >
        <div class="container" style="padding-top: 0px;margin-top: 30px;">
            <div class="row">
                <div  class="col-md-3 col-xl-2">
                    <div  style='margin-top:30%'>
                    {% block left-content %}
    
                    {% endblock left-content %}
                    </div>

                </div>
                <div id='content-wrap' class="col-md-6 col-xl-8">
                    {% block content %}
                    
                    {% endblock content %}
                </div>
                <div class="col-md-3 col-xl-2">
                   <div  style='margin-top:30%'>
                    {% block right-content %}
                    
                    {% endblock right-content %}
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %} "></script>

</body>




<footer style='margin-bottom:0px'>
    {% include 'main/footer.html' %}
</footer>


<style>

   #page-container {
    position: relative;
    min-height: 50vh;
  }
  
  #content-wrap {
    padding-bottom: 10rem;    /* Footer height */
  }
  
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;            /* Footer height */
  }
</style>
</html>






